*{
  box-sizing: border-box;
}

body{
  margin: 0;
  height: 100%;
  margin-left:auto;
  margin-right:auto;
  background: url("/static/img/5fondox128.85022edc1af9.png") repeat 0 0;
  background-color: #272822;
  /* background-size: 1024px 620px; */
  font-family: Arial, Helvetica, sans-serif;
    
}


header{
  max-width:1024px;
  height: 100%;
  background-color: #063386;
  background-image: linear-gradient(#063386, #000, #063386);
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 30px;
}

main{
  float: center;
  max-width:1024px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 30px;
  /* background-color: #063386;
  background-image: linear-gradient(#063386, black, #063386, black); */
  /* background-color: rgb(0, 0, 0);
  background-image: linear-gradient(to bottom, rgba(15, 96, 248,0.3), rgba(15, 96, 248, 0.5), rgba(15, 96, 248,0.5)); */

}

.home{
  background-color: rgb(0, 0, 0);
  background-image: linear-gradient(to top, rgba(15, 96, 248, 0.3), rgba(15, 96, 248, 0.5));
  border-left: #81ffff 1px solid;
  border-right: #81ffff 1px solid;
}

.descripcion{
  background: url("/static/img/fondo0.a27b1bba522a.png") no-repeat 0 0;
  background-size: 100% 100%;
  /* background-color: #e4e4e4; */
  height: 300px;
  padding-top: 50px;
  margin-bottom: 10px;
  /* float: left; */
  /* border-left: #81ffff 1px solid;
  border-right: #81ffff 1px solid; */
}

.descripcion .d{
  background: rgba(15, 96, 248, 0.5);
  color: #fff;
  /* text-shadow: 2px 2px 4px #000; */
  padding: 50px 40px;
  text-align: center;
  font-size: 24px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  font-weight: bold;
}

.subtitulo{
  /* background: rgba(1, 0, 0, 0.3); */
  background-image: linear-gradient(to left, rgba(15, 96, 248,0.1), rgba(15, 96, 248, 0.5));
  color: #fff;
  /* text-shadow: 2px 2px 4px #000; */
  width: 100%;
  display: inline-block;
  /* margin-left: 24px; */
  margin-right: 24px;
  /* margin-top: 50px; */
  margin-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.pp{
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* float: left; */
  /* width: 100%; */
  display: flex;
  margin-left: 24px;
  margin-right: 24px;
  background: #fff;
  border-width: 0 5px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #81ffff, rgba(255, 255, 255, 0)) 1 100%;
  /* background: url("/static/img/1Artboard 1.2c7cb5eae137.png") repeat 0 0; */
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(15, 96, 248, 0.3)), url("/static/img/1Artboard 1.2c7cb5eae137.png") ; 
}

article{
  padding: 40px;
  margin-bottom: 10px;
  min-width: 482px;
  /* margin-left: 10px; */
  /* margin-right: 10px; */
  flex: 1;
}

.borde{
  transition: background 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out;
  /* float: left; */
  /* background: rgba(255, 255, 255, 0.3); */
  border-style: solid;
  border-width: 1px;
  border-color: #81ffff;
  border-left: #81ffff 1px solid;
  padding: 20px;
  max-width: 462px;
  margin-left:auto;
  margin-right:auto;
  /* box-shadow: 5px 5px 10px #81ffff; */
  box-shadow: rgba(151, 231, 255, 0.25) 0px 10px 20px 10px, rgba(255, 255, 255, 0.22) 0px 10px 20px;
}

.borde:hover{
  background: rgba(255, 255, 255, 0.5);
  box-shadow: rgba(151, 231, 255, 0.5) 0px 10px 20px 10px, rgba(255, 255, 255, 0.5) 0px 10px 20px;
}


.cuerpo {
  height: 500px;
  position: relative;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
}


.borde2{
  transition: background 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out;
  border-style: solid;
  border-width: 1px;
  border-color: #81ffff;
  padding: 20px;
  max-width: 946px;
  margin-left:auto;
  margin-right:auto;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: rgba(151, 231, 255, 0.25) 0px 10px 28px 10px, rgba(255, 255, 255, 0.22) 0px 10px 20px;
}

.borde2:hover{
  background: rgba(255, 255, 255, 0.5);
  box-shadow: rgba(151, 231, 255, 0.5) 0px 10px 20px 10px, rgba(255, 255, 255, 0.5) 0px 10px 20px;
}

.cuerpo2 {
  height: 500px;
  position: relative;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  /* display: flex; */
}

.marco_titulo{
  background: rgba(1, 0, 0, 0.3);
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  display: flex;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  width: 100%;
}

.icono{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 30px;
  margin-right: 20px;
}
.icono img{
  width: 64px;
  height: 64px;
}

.m_titulo{
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 30px;
}

.p_titulo{
  font-size: 24px;
  /* margin-top: 10px; */
}

.p_subtitulo{
  margin-top: 5px;
  /* margin-bottom: 15px;
  padding-bottom: 10px; */
}

.parte2{
  margin-top: 200px;
}

.conocimientos{
  left:0;
  right:0;
  margin-left: 24px;
  margin-right: 24px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: flex;
  /* background: #fff; */
  border-width: 0px 5px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #81ffff, rgba(255, 255, 255, 0)) 1 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(15, 96, 248, 0.3)), url("/static/img/1Artboard 1.2c7cb5eae137.png") ; 
  /* background-image: linear-gradient(to top, rgba(15, 96, 248, 0.3), rgba(15, 96, 248, 0.5)); */
  /* background: url("/static/img/1Artboard 1.2c7cb5eae137.png") repeat 0 0; */
}

.conocimientos img{
  padding: 30px;
  margin: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #81ffff;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: rgba(151, 231, 255, 0.25) 0px 10px 28px 10px, rgba(255, 255, 255, 0.22) 0px 10px 20px;
  
}

.parte3{
  margin-top: 200px;
  /* padding-bottom: 50px; */
  margin-bottom: 150px;
}

.parte3 p{
  margin-left: 24px;
  margin-right: 24px;
  padding: 10px;
  background: #fff;
  color: #fff;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  border-width: 0px 5px;
  border-style: solid;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  border-image: linear-gradient(to bottom, #81ffff, rgba(255, 255, 255, 0)) 1 100%;
  /* background: url("/static/img/1Artboard 1.2c7cb5eae137.png") repeat 0 0; */
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(15, 96, 248, 0.3)), url("/static/img/1Artboard 1.2c7cb5eae137.png") ; 
  /* background-size: 1000px; */
  /* background-color: #272822; */
}

footer{
  float: center;
  margin-left:auto;
  margin-right:auto;
  max-width:1024px;
  padding-top: 30px;
}

.contenido{
  /* float: left; */
  width: 100%;
  display: inline-block;
  padding-top: 10px;
}


@media all and (max-width: 970px) {
  .borde{
    max-width: 946px;
  }
}
